{% extends "base.html" %}
{% block content %}
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Intro</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">About</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Features</span>
				</a>
			</li>

			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Contact</span>
				</a>
			</li>
		</ul>
	</nav>
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

	<section id="section1" class="cd-section" style="padding-top:0px;">
		<div class="container">
			<div class="row">
				<h2 style="color:white; text-align:center">Welcome to Foodiepedia!</h2>
			</div>
			<div class="row" id="main-slide">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
					<ol class="carousel-indicators">
					    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel" data-slide-to="1"></li>
					    <li data-target="#myCarousel" data-slide-to="2"></li>
					    <li data-target="#myCarousel" data-slide-to="3"></li>
					</ol>

				  <!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
					    <div class="item active">
					    	<img src="/static/images/slide1.jpg" alt="Pepperoni">
					    </div>

					    <div class="item">
					    	<img src="/static/images/slide2.jpg" alt="Carbonara">
					    </div>

					    <div class="item">
					    	<img src="/static/images/slide3.jpg" alt="Icecream and Fruits">
					    </div>

					    <div class="item">
					    	<img src="/static/images/slide4.jpg" alt="Steamed Buns">
					    </div>
					</div>
				</div>
			</div>
		</div>
		

		<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section><!-- cd-section -->

	<section id="section2" class="cd-section">
		<h1>About</h1>
	</section><!-- cd-section -->

	<section id="section3" class="cd-section">
		<h1>Features</h1>
	</section><!-- cd-section -->

	<section id="section4" class="cd-section">
		<h1>Contact</h1>
	</section><!-- cd-section -->

	
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
{% endblock %}