<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>



	</head><!-- End of head -->

	<body class="main-body">
		<header>
			<table style="width:100%" cellspacing="0" cellpadding="0">
				<tr id="head-navbar">
					<td id="logo">
						<ul>
							<li><a href="/">Foodiepedia</a></li>
						</ul>
					</td>
					<td id="navbar-button">
						<ul>
							<li><a href="/find">Find</a></li>
							<li><a href="/discover">Discover</a></li>
							{% if isAuthenticated == False %}
								<li><a href="/signup">Sign up</a></li> 
								<li><a href="/login">Login</a></li>
							{% else %}
								<li><a href="/uesr_profile">{{ username }}</a></li>
								<li><a href="/logout">Logout</a></li> 
							{% endif %}
							
						</ul>
					</td>
				</tr><!-- End of head-navbar -->
			</table>
		</header><!-- End of header -->

		<div class="page-container">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<table id="footer-bar" style="width:100%" cellspacing="0" cellpadding="0">
				<tr >
					<td id="footer-button">
						<ul >
							<li><a href="/about">About</a></li>
							<li><a href="/advertising">Advertising</a></li>
							<li><a href="/contact_us">Contact us</a></li>
							<li><a href="/api">API</a></li>
						</ul>
					</td>
					<td id="footer-icon">
						<ul>
							<li><a href="http://instagram.com/142cz/" target="_blank">
								<img src="/static/images/instagram.png" style="width:32px;height:32px"/>
								</a>
							</li>
							<li><a href="https://github.com/chenzhe142" target="_blank">
								<img src="/static/images/github.png" style="width:32px;height:32px"/>
								</a>
							</li>
							<li><a href="mailto:zhechen2014@u.northwestern.edu" target="_blank">
								<img src="/static/images/email.png" style="width:32px;height:32px"/>
								</a>
							</li>
						</ul>
					</td>
				</tr>
				<tr style="border-collapse:collapse">
					<td id="copyright" colspan="2">
						<h3>&copy;  Foodiepedia 2014</h3>
					</td>
				</tr>
			</table>
		</footer><!-- End of footer -->


	</body>
</html>