/*-----------------------------------------*/
/* Test code */
/*-----------------------------------------*/
/** {
	border: 1px solid red !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing:border-box;
}
*/
/*-----------------------------------------*/
/* head-navbar setting */
/*-----------------------------------------*/
#head-navbar {
	top: 0px;
	left: 0px;
	right: 0px;
	/* head-navbar color */
	background: #333333;
	/*head-navbar font*/
	
}

#head-navbar ul {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#head-navbar ul li {
	display: inline;
	float: middle;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#head-navbar a {
	/* text setting */
	text-decoration: none;
	/* text color */
	color: white;

	cursor: pointer;
}

/* set the status when mouse is pointing to button */
#head-navbar a:hover {
	color: #CCCCCC;
}
/* End of head-navbar setting */
#navbar-button {
	text-align: right;
	padding-right: 50px;

	font-family: 'Slabo 27px', serif;
	font-size: 22px;
}

#logo {
	font-family: 'Indie Flower', cursive;
	font-style: bold;
	font-size: 30px;
}

/*-----------------------------------------*/
/* Footer setting */
/*-----------------------------------------*/
.footer-social-link {
	margin-bottom: 40px;
	margin-top: 30px;
}
.footer-link ul li {
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer-social ul li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-link {
	/*background-color:lavender; */
	padding-top: 9px;
	padding-bottom: 9px
}

.footer-social {
	text-align: center;
	padding-top: 19px;
	padding-bottom: 19px;
	/*background-color:lavenderblush;*/
}

#footer-bar {
	/*background: #F3F3F3;*/
	background: linear-gradient(to bottom, #F3F3F3 0%,#ffffff 100%); 
    background-attachment:fixed;
	color: #787878;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#footer-bar ul li {
	display: inline;
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer-button a {
	text-decoration: none;
	color: #787878;
	cursor: pointer;
	font-size: 18px;
	/*height: 55px;*/
}

#footer-button a:hover {
	color: #0B627D;
	border-bottom: 1px dotted #0B627D;
}



#copyright {
	font-size: 14px;
	padding-top: 14px;
}
/*-----------------------------------------*/
/* container */
/*-----------------------------------------*/
.fill {
	min-height: 100%;
	height: 100%;
	/*background-color: lavenderblush; */
}

#find_form {
	margin-top: 50px;
}

.container-top-margin {
	margin-top:3%;
}

.container-bottom-margin {
	margin-bottom: 3%;
}

/*-----------------------------------------*/
/*page setting*/
/*-----------------------------------------*/
html {
	height: 100%;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


/*Page setting*/
.main-body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

