<!DOCTYPE html>
<html>
	<head>
		<title>Foodiepedia</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>



	</head><!-- End of head -->

	<body class="main-body">
		<header>
			<table style="width:100%" cellspacing="0" cellpadding="0">
				<tr id="head-navbar">
					<td id="logo">
						<ul>
							<li><a href="/">Foodiepedia</a></li>
						</ul>
					</td>
					<td id="navbar-button">
						<ul>
							<li><a href="">Find</a></li>
							<li><a href="">Discover</a></li>


							
							

							{% if isAuthenticated == False %}
								<li><a href="/signup">Sign up</a></li> 
								<li><a href="/login">Login</a></li>
							{% else %}
								<li><a href="">{{ username }}</a></li>
								<li><a href="/logout">Log out</a></li> 
							{% endif %}
							
						</ul>
					</td>
				</tr><!-- End of head-navbar -->
			</table>
		</header><!-- End of header -->

		<div class="page-container">
			<div class="content">
				<div class="vertical-container">
					<div class="row">
						<div class="col-12" id="dot-navbar">
							<div id="content-paddle">
								{% if isAuthenticated == True %}
								<p>item</p>
								{% else %}
								<p>{{ name }}</p>
								{% endif %}
							</div>
							<div class="dot-navbar dot-fillup">
								<ul>
									<li class="current"><a href="#home">Home</a></li>
									<li><a href="">Search item</a></li>
									<li><a href="">Find</a></li>
									<li><a href="">Discover</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<p>test</p>
			</div>
		</div>

	</body>
</html>


